<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1339">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <h2 class="cs-title">Get Finance Solution That Just Makes Sense</h2>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Gallery</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">About</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Mint NFT</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2024 - Nightmare Collection
        </span>
        <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Hand Coded by Keito Takato</a>
            <a href="" class="cs-bottom-link">Clickmortar.app</a>
        </div>
    </div>
</footer>
