<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Standard meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="">
        <link rel="canonical" href="{{ client.domain }}{{ page.url }}">

        <!--Social Media Display-->
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/Kendu/Kendu_Logo.webp"/>
        <meta property="og:image:secure_url" content="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/Kendu/Kendu_Logo.webp"/>

        <!--Twitter Social Media Display-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Kendu Inu | $KENDU Ecosystem">
        <meta name="twitter:description" content="Kendu is the narrative, and you are the catalyst. Become the main character in the rise of the ultimate memecoin ecosystem. Will you join the pack?">
        <meta name="twitter:image" content="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/Kendu/Kendu_Logo.webp">

        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">
        <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#fd0def">
        <link rel="icon" href="/assets/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#603cba">
        <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#5535a5">

        <!-- Preloads -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fjord+One&family=Metal+Mania&display=swap" rel="stylesheet">
        
        <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
        {% if preloadImg != '' %}
            <link rel="preload" as="image" href="{{ preloadImg }}"/>
        {% endif %}

        <!-- Sitewide Stylesheets and Scripts -->
        <link rel="stylesheet" href="/assets/css/root.css">
        <!--ADD JS FILES TO LINK IN ALL PAGES THE BELOW IS AN EXAMPLE-->
        <script defer src="/assets/js/nav.js"></script>
        <script defer src="/assets/js/faq.js"></script>
        <script defer src="/assets/js/carousel.js"></script>
        <script defer src="/assets/js/dropdown.js"></script>
        <script defer src="/assets/js/hero-video.js"></script>

        {% block head %}{% endblock %}

        <title>{{ title }}</title>
    </head>
    <body>
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main" tabindex="1">Click To Skip To Main Content</a>

        {% include "components/header.html" %}
        <main id="main">
            {% block body %}{% endblock %}
        </main>
        {% include "components/footer.html" %}

    </body>
</html>