---
title: 'Kendu Inu | $KENDU Ecosystem'
description: 'Kendu is the narrative, and you are the catalyst. Become the main character in the rise of the ultimate memecoin ecosystem. Will you join the pack?'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->
                    

    <!-- ============================================ -->
    <!--                   About                      -->
    <!-- ============================================ -->


    <!-- ============================================ -->
    <!--                    FAQ                       -->
    <!-- ============================================ -->


{% endblock %}

<!-- There are two dropdowns to show multi-menu support -->
