/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---    Flooz and How to Buy    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #buy-kendu {
        margin-top: -0.1em;
        padding: var(--sectionPadding);
        /* 100px - 200px */
        padding-bottom: clamp(6.25rem, 8vw, 12.5rem);
        background-color: #272727;
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .metamask-link {
            color: var(--bodyTextColorWhite);
            text-decoration: none;

            &:hover {
                color: #CE0909;
            }
        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin-top: 3em;
            width: 80%;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center !important;
        }

        .cs-topper {
            color: var(--secondary);
            font-size: 1.25rem;
            text-align: center;
            text-shadow:
                -1px -1px 0 #000,
                0   -1px 0 #000,
                1px -1px 0 #000,
                1px  0   0 #000,
                1px  1px 0 #000,
                0    1px 0 #000,
                -1px  1px 0 #000,
                -1px  0   0 #000;
        }

        .cs-title {
            margin: 0;
            font-size: 3.25rem;
            text-align: center;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: grid;
            align-items: stretch;
            grid-auto-flow: row;
            /* 24px - 32px */
            gap: clamp(1.5rem, 3vw, 2rem);
        }

        .cs-item {
            list-style: none;
            padding-bottom: calc(32/16 * 1rem);
            border-bottom: #dcdcdc 1px solid;
            display: flex;
            align-items: center;
            /* 16px - 24px */
            gap: clamp(1rem, 2vw, 1.5rem);
            position: relative;

            &:last-of-type {
                border-bottom: none;
            }
        }

        .cs-number {
            /* 49px - 72px */
            font-size: clamp(3.0625rem, 6vw, 4.5rem);
            font-weight: 900;
            line-height: calc(19/16 * 1em);
            color: #ffffff;
            display: block;
        }

        .only-on-eth {
            font-weight: 700;
            color: #CE0909;
            font-size: 1.25em;
            text-shadow:
                -1px -1px 0 #000,
                0   -1px 0 #000,
                1px -1px 0 #000,
                1px  0   0 #000,
                1px  1px 0 #000,
                0    1px 0 #000,
                -1px  1px 0 #000,
                -1px  0   0 #000;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.5rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: calc(18/16 * 1em);
            margin: 0 0 calc(12/16 * 1rem) 0;
            color: #ffffff !important;
        }

        .cs-item-text {
            font-size: calc(12/16 * 1rem);
            line-height: calc(24/16 * 1em);
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
            font-family: "Orienta", sans-serif;
        }
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }

        .cs-title, .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);
            opacity: .8;
            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-ul {
            width: 100%;
            max-width: calc(630/16 * 1rem);
            margin: 0 0 calc(32/16 * 1rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(16/16 * 1rem);
            column-gap: calc(12/16 * 1rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            grid-column: span 4;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            /* 60px - 80px */
            width: calc(48/16 * 1rem);
            height: calc(48/16 * 1rem);
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background: #1D1C1C;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            width: calc(24/16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-li-text {
            font-size: calc(20/16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150/16 * 1rem);
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:min(2vw, .70rem);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: calc(943/16 * 1em);
            height: calc(908/16 * 1em);
            position: relative;
            z-index: 2;
            display: none;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-mask {
            width: 101%;
            height: 101%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }

        .floozApp {
            width: 320px;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #buy-kendu {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2em;
        }

        .floozApp {
            margin-left: 10%;
            width: 600px;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:min(1vw, 1rem);
            flex: none;
            display: block;
            z-index: -1;
            position: absolute;
            margin-left: -3em;

            &:before {
                display: block;
            }
        }

        .cs-card-group {
            width: 80%;
        }

        .cs-content {
            width: 51%;
            align-items: flex-start !important;
            text-align: left;
        }

        .cs-wrapper {
            margin-top: 0;
            width: 80%;
        }

        .cs-title {
            width: 8em;
            text-align: left;
        }

        .cs-graphic {
            bottom: -5em;
        }

        .cs-topper {
            align-items: left;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #buy-kendu {
        .cs-image-group {
            font-size: inherit;
            width: calc(743/16 * 1em);
            height: calc(708/16 * 1em);
        }

        .cs-li {
            flex-direction: row;
        }

        .cs-wrapper {
            padding-left: 8em;
        }

        .cs-graphic {
            bottom: -5em;
            width: 115%;
            height: auto;
        }

        .cs-item-text {
            font-size: 1rem;
        }
    }
}

/* Desktop - 1600px */
@media only screen and (min-width: 100rem) {
    #buy-kendu {
        .cs-graphic {
            bottom: -7em;
        }
    }
}

/* Large Desktop - 2000px */
@media only screen and (min-width: 125rem) {
    #buy-kendu {
        /* pushes down when the screen size gets too big and the graphic starts getting too tall and creeps up on the content above it */
        padding-bottom: 9vw;

        .floozApp {
            margin-right: 10em;
            width: 700px;
        }

        .cs-graphic {
            bottom: -9em;
        }
    }
}

/* XL Desktop - 2200px */
@media only screen and (min-width: 137.5rem) {
    #buy-kendu {
        .cs-graphic {
            bottom: -11em;
        }
    }
}

/*-- -------------------------- -->
<---         Exchanges          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    
    :root {
        --slide-width: 120px;
        --slide-height: 120px;
        --gap-width: 80px;
    }

    #exchanges {
        padding: var(--sectionPadding);
        /* 200px - 300px - leaving extra space for the navigation */
        padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
        background-color: #272727;
        overflow-x: visible;
        position: relative;
        margin-top: -0.2em;
        z-index: 5;
        height: 55em;

        .cs-container {
            width: 100%;
            max-width: calc(1720/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 100px - 229px */
            gap: clamp(6.25rem, 16vw, 14.3125rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            margin-bottom: -4em;
            margin-top: 4em;
        }

        .cs-flex {
            margin-top: -13em;
        }

        .cs-title {
            max-width: 20ch;
            font-size: 2.5rem;
            text-align: center;
            color: var(--bodyTextColorWhite);
            text-shadow:
                -1px -1px 0 #000,
                0   -1px 0 #000,
                1px -1px 0 #000,
                1px  0   0 #000,
                1px  1px 0 #000,
                0    1px 0 #000,
                -1px  1px 0 #000,
                -1px  0   0 #000;
        }

        .cs-topper {
            text-align: center;
            font-size: 1.05rem;
            text-shadow:
                -1px -1px 0 #000,
                0   -1px 0 #000,
                1px -1px 0 #000,
                1px  0   0 #000,
                1px  1px 0 #000,
                0    1px 0 #000,
                -1px  1px 0 #000,
                -1px  0   0 #000;
        }

        .cs-icon {
            width: calc(20/16 * 1rem);
            height: auto;
        }

        .carousel {
            width: 110%;
            z-index: 4;
            position: absolute;
            bottom: 5.5em;
        }
          
        .carousel-track {
            width: 100%;
            display: flex;
            gap: var(--gap-width);
            animation: scroll var(--scroll-duration) linear infinite;
            
        }
          
        .slide {
            flex: 0 0 var(--slide-width);
            position: relative;
            
        }
          
        .slide img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
          
        .overlay {
            position: absolute;
            bottom: 0;
            background: var(--overlay-bg-color);
            color: var(--overlay-text-color);
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: var(--overlay-transition);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .slide:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
          
        .slide:hover .overlay {
            opacity: 0;
        }
          
        @keyframes scroll {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(calc(-1 * var(--total-width)));
            }
        }
          
        .carousel:hover .carousel-track {
            animation-play-state: paused;
        }

        h10 {
            font-size: 1rem;
            margin-left: 5px !important;
            letter-spacing: 0.8px;
        }

        .item {
            color: #ffffff;   
        }

        .item, a {
            text-decoration: none;
            color: #ffffff;
        }

        .item a {
            padding: 0.87em 4em;
        }

        .wrapper-dropdown {
            position: absolute;
            display: inline-block;
            min-width: 231.5px;
            font-weight: 700;
            font-size: 1rem;
            width: 13em;
            max-width: 483px;
            padding: .85rem 0px;
            min-height: 44px;
            background-color: #CE0909;
            text-align: center;
            color: #fff;
            bottom: 19em;
            left: 50%;
            transform: translateX(-50%);
            z-index: 4;
            cursor: pointer;
            border: solid 1px #272727;
        }
          
          
        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
          
        .arrow {
            margin-left: 10px;
            margin-right: 10px;
            float: right;
            rotate: 180deg;
        }
          
        .selected-display {
            margin-left: 20px;
          }
          
        svg {
            transition: all 0.3s;
        }
          
        .wrapper-dropdown::before {
            position: absolute;
            top: 50%;
            right: 16px;
          
            margin-top: -2px;
          
            border-width: 6px 6px 0 6px;
            border-style: solid;
            border-color: #fff transparent;
        }
          
        .rotated {
            transform: rotate(-180deg);
        }
          
        .wrapper-dropdown .dropdown {
            transition: 0.3s;
          
            position: absolute;
            top: 101%;
            right: 0;
            left: 0;
          
            margin: 0;
            padding: 0;

            scrollbar-width: thin;

            border: solid 1px #272727;

            max-height: 300px;
            overflow-y: auto;
          
            list-style: none;
          
            z-index: 99;
          
            box-shadow: inherit;
            background: inherit;
          
            -webkit-transform-origin: top;
            -moz-transform-origin: top;
            -ms-transform-origin: top;
            transform-origin: top;
          
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          
            opacity: 0;
            visibility: hidden;
        }
          
        .wrapper-dropdown .dropdown li {
            padding: 0 15px;
            line-height: 45px;
            overflow: hidden;
        }
          
        .wrapper-dropdown .dropdown li:last-child {
            border-bottom: none;
        }
          
        .dropdown {
            padding: 0.5rem !important;
            background-color: #1d1c1c;
        }
          
        .wrapper-dropdown .dropdown li:hover {
            background-color: #CE0909;
        }

        .wrapper-dropdown .dropdown li:last-child {
            border-bottom: none;
        }
          
        .wrapper-dropdown.active .dropdown {
            opacity: 1;
            visibility: visible;
            background-color: #1d1c1c;
        }

        .cs-link {
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            /* 16px - 32px */
            padding: clamp(1rem, 2vw, 2rem);
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: calc(450/16 * 1rem);
            margin: 0;
            padding: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-item-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #1a1a1a;
                opacity: 0.24;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                /* background color overlay */
                content: "";
                width: 100%;
                height: 35%;
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
            }

            img {
                width: 100%;
                height: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.6s, opacity 0.3s;
            }
        }

        .cs-image-wrapper {
            width: 100%;
            /* changes to 90% at tablet, then back to 100% at desktop */
            height: 80%;
            min-height: calc(520/16 * 1rem);
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            video,
            .cs-picture {
                width: 100%;
                height: 100%;
                /* makes image act as a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;


                img {
                    width: 100%;
                    height: 100%;
                    /* makes image act as a background image */
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .cs-graphic {
            width: 100%;
            min-width: calc(1280/16 * 1rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            top: -3px;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
        }

        .cs-cex-graphic {
            width: 120%;
            min-width: calc(1280/16 * 1rem);
            height: 30em;
            object-fit: cover;
            position: absolute;
            top: 31.75em;
            left: 50%;
            z-index: 1;
            overflow: visible;
            transform: translateX(-50%);
        }

        .cs-graphic-top {
            width: 120%;
            min-width: calc(1200/16 * 1rem);
            object-fit: cover;
            position: relative;
            bottom: 17em;
            left: 50%;
            z-index: 7 ;
            transform: translateX(-50%);
            overflow: visible;
        }

        .cs-dark {
            display: none;
        }
    }
}

@media only screen and (min-width: 43.75rem) {
    #exchanges {
        .cs-graphic-top {
            bottom: 19em;
        }
    }
}

@media only screen and (min-width: 50.5rem) {
    #exchanges {
        .cs-graphic-top {
            bottom: 22em;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    :root {
        --slide-width: 180px;
        --slide-height: 180px;
        --gap-width: 70px;
    }

    #exchanges {
        .cs-card-group {
            margin: 0;
        }

        .cs-item {
            grid-column: span 4;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 6;
            }
        }

        .cs-image-wrapper {
            /* changes back to 100% at desktop */
            height: 80%;
        }

        .cs-content {
            width: 80%;
            justify-content: left;
        }

        .cs-topper {
            font-size: 1.25rem;
            text-align: left;
        }

        .cs-title {
            font-size: 3rem;
        }

        .slide {
            height: var(--slide-height);
          }

        .carousel {
            bottom: 3.5em;
        }

        .wrapper-dropdown {
            bottom: 27em;
            left: 80%;
            transform: translateX(-50%);
        }
    }
}

/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #exchanges { 

        .cs-card-group {
            grid-template-columns: repeat(5, 1fr);
        }

        .carousel {
            width: 160%;
        }

        .cs-item {
            grid-column: span 1;
            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 1;
            }
        }

        .cs-box {
            bottom: calc(48/16 * 1rem);
        }
    }
}

/*-- -------------------------- -->
<---       About Kendu          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about-kendu {
        padding: var(--sectionPadding);
        /* 100px - 200px */
        background-color: #272727;
        /* clips anything overflowing */
        overflow: visible;
        position: relative;
        z-index: 4;
        margin-top: -0.1em;
        padding-bottom: 0;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            padding-bottom: 2em;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(542/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            position: relative;
        }

        .cs-topper {
            font-size: 1.25rem;
            text-shadow:
                -1px -1px 0 #000,
                0   -1px 0 #000,
                1px -1px 0 #000,
                1px  0   0 #000,
                1px  1px 0 #000,
                0    1px 0 #000,
                -1px  1px 0 #000,
                -1px  0   0 #000;
        }

        .cs-title, .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-title {
            font-size: 2.5rem;
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);
            font-family: 'Orienta', sans-serif;
            font-size: .75em;
            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-ul {
            width: 100%;
            max-width: calc(630/16 * 1rem);
            margin: 0 0 calc(32/16 * 1rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(16/16 * 1rem);
            column-gap: calc(12/16 * 1rem);
            align-items: center;
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            grid-column: span 4;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            /* 60px - 80px */
            width: calc(48/16 * 1rem);
            height: calc(48/16 * 1rem);
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background: #1D1C1C;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            width: calc(24/16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 2vw, 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .1em;
            text-align: center;
            margin: 0 0 calc(12/16 * 1rem) 0;
            color: var(--bodyTextColorWhite);
            opacity: .8;
        }

        .cs-li-text {
            font-size: calc(20/16 * 1rem);
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColorWhite);
            font-family: 'Orienta', sans-serif;
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150/16 * 1rem);
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            border: solid 1px #272727;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #560101;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:min(2vw, .70rem);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: calc(643/16 * 1em);
            height: calc(608/16 * 1em);
            position: relative;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            object-fit: cover;
            

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-mask {
            width: 101%;
            height: 101%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotateY(180deg);
        }

        .cs-graphic {
            width: 120%;
            min-width: calc(1200/16 * 1rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: -5em;

            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #about-kendu {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:min(1vw, 1rem);
            flex: none;

            &:before {
                display: block;
            }
        }

        .cs-content {
            width: 51%;
            text-align: left;
            align-items: flex-start;
        }

        .cs-h3 {
            text-align: left;
        }

        .cs-li {
            align-items: flex-start;
        }

        .cs-text {
            font-size: 0.8rem;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #about-kendu {
        .cs-image-group {
            font-size: inherit;
        }

        .cs-li {
            flex-direction: row;
        }

        .cs-graphic {
            bottom: -10%;
        }

        .total {
            width: 6.7em;
        }
    }
}

/* Large Desktop - 2000px */
@media only screen and (min-width: 125rem) {
    #about-kendu {
        /* pushes down when the screen size gets too big and the graphic starts getting too tall and creeps up on the content above it */
        padding-bottom: 1vw;

        .cs-graphic {
            bottom: -15%;
        }
    }
}

/*-- -------------------------- -->
<---         Kendu Chads        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #kendu-chads {
        padding: var(--sectionPadding);
        /* 100px - 200px */
        padding-bottom: clamp(6.25rem, 8vw, 12.5rem);
        background-color: #1d1c1c;
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 2;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550/16 * 1rem);
            margin: auto;
            margin-bottom: -5em;
            padding-bottom: 3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            padding-bottom: 6em;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(542/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            position: relative;
            z-index: 3;

        }

        .cs-topper {
            font-size: 1.25rem;
        }

        .cs-title {
            font-size: 2.5rem;
        }

        .cs-title, .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);
            font-family: 'Orienta', sans-serif;
            font-size: 0.95rem;
            width: 80%;

            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            border: solid 1px #000;
            min-width: calc(150/16 * 1rem);
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #560101;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:min(2.1vw, .70rem);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: calc(643/16 * 1em);
            height: calc(608/16 * 1em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            object-fit: cover;

            img {
                width: 36em;
                height: 23em;
                object-fit: cover;
                rotate: 180deg;
                position: absolute;
                left: 2em;
                top: 8em;
            }
        }

        .cs-mask {
            width: 101%;
            height: 101%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }

        .cs-graphic {
            width: 100%;
            min-width: calc(1200/16 * 1rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #kendu-chads {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            padding-bottom: 10em;
            padding-top: 2em;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:min(1.1vw, 1rem);
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;

            &:before {
                display: block;
            }
        }
        
        .cs-content {
            align-items: flex-start;
        }

        .cs-text {
            text-align: left;
            width: 100%;
        }

        .cs-content {
            width: 51%;
        }

        
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #kendu-chads {
        .cs-image-group {
            font-size: inherit;
        }

        .cs-li {
            flex-direction: row;
        }

        .cs-container {
            padding-bottom: 7em;
        }
    }
}

/* Large Desktop - 2000px */
@media only screen and (min-width: 125rem) {
    #kendu-chads {
        /* pushes down when the screen size gets too big and the graphic starts getting too tall and creeps up on the content above it */
        padding-bottom: 9vw;
    }
}
    

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq {
        padding: var(--sectionPadding);
        background-color: #272727;
        position: relative;
        padding-top: 3em;
        padding-bottom: 0;
        margin-top: -0.1em;
        z-index: 2;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            margin: auto 0;
        }

        .cs-topper {
            font-size: 1em;
        }

        .cs-title {
            max-width: 15ch;
            font-size: 2.5em;
            margin: 0 0 calc(32/16 * 1rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-button-text {
            font-family: 'Teko', sans-serif;
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            color: #fff;
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-faq-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(12/16 * 1rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            transition: border-bottom 0.3s;

            &.active {
                .cs-button {
                    background-color: var(--primary);
                    color: var(--bodyTextColorWhite);

                    &:before {
                        background-color: var(--bodyTextColorWhite);
                        transform: rotate(315deg);
                    }

                    &:after {
                        background-color: var(--bodyTextColorWhite);
                        transform: rotate(-315deg);
                    }
                }

                .cs-item-text {
                    height: auto;
                    /* 16px - 24px */
                    padding: calc(16/16 * 1rem) clamp(1rem, 2vw, 1.5rem);
                    opacity: 1;
                    border: 1px solid #767676;
                    font-family: 'Orienta', sans-serif;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: left;
            width: 100%;
            padding: calc(16/16 * 1rem);
            padding-left: calc(52/16 * 1rem);
            background-color: transparent;
            color: var(--bodyTextColorWhite);
            border: 1px solid #767676;
            display: block;
            position: relative;
            transition: background-color 0.3s, color 0.3s;

            &:before {
                /* left line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background-color: var(--bodyTextColorWhite);
                opacity: 1;
                display: block;
                position: absolute;
                top: 45%;
                left: calc(18/16 * 1rem);
                transform: rotate(45deg);
                transition: transform 0.5s;
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background-color: var(--bodyTextColorWhite);
                opacity: 1;
                display: block;
                position: absolute;
                top: 45%;
                left: calc(21/16 * 1rem);
                transform: rotate(-45deg);
                transition: transform 0.5s;
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
            }
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            height: 0;
            margin: 0;
            /* clips the text so it doesn't show up */
            overflow: hidden;
            color: var(--bodyTextColorWhite);
            opacity: 0;
            transition: height 0.3s ease, opacity 0.3s;
        }

        .cs-gallery {
            width: 100%;
            /* changes to 1720 at tablet */
            max-width: calc(584/16 * 1rem);
            margin: clamp(3rem, 6vw, 4rem) auto 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-picture {
            /* 210px - 400px */
            min-height: clamp(13.125rem, 27vw, 25rem);
            display: block;
            grid-column: span 5;
            grid-row: span 1;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-graphic {
            width: 120%;
            min-width: calc(1200/16 * 1rem);
            overflow: visible;
            object-fit: cover;
            position: absolute;
            bottom: -5%;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq {
        .cs-container {
            width: 80%;
        }

        .cs-gallery {
            max-width: calc(1720/16 * 1rem);
        }

        .cs-picture {
            grid-column: span 1;
        }

        .cs-graphic {
            bottom: -7%;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            width: 40%;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-gallery {
            grid-template-columns: repeat(5, 1fr);
        }

        .cs-picture {
            grid-column: span 1;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 1;
            }
        }

        .cs-graphic {
            bottom: -7%;
        }
    }
}
